			*{
				margin:0px;
				padding:0px;
			}
			html,body{
				width:1420px;
				height:100%;
			}
			ul li{
				list-style: none;
			}
			a{
				color:#ffffff;
				text-decoration: none;
			}
			.nav{
				height:80px;
				width:1420px;
				position:absolute;
				top:0px;
				z-index:2;
				transition: all 0.3s;
				overflow: hidden;
			}
			.nav.active{
				height:200px;
				background:white;
			}
			.nav div{
				float:left;
			}
			.nav .left{
				margin-top:30px;
				margin-left:100px;
			}
			.nav .right{
				margin-top:30px;
				margin-left:250px;
				font-size:13px;
				color:#fff;
			}
			.nav .right.active{
				color:#333;
			}
			.nav .nav-animation{
				height:112px;
				width:100%;
				margin-top:30px;
			}
			.nav-animation div{
				height:100%;
				width:100%;
				position:absolute;
			}
			.nav .right span{
				margin-right:40px;
				cursor:pointer;
			}
			.nav .right span:hover{
				color:#31a5e7;
			}
			.nav-animation div div{
				height:139px;
				width:131px;
				float:left;
				position: static;
				box-sizing: border-box;
				text-align:center;
			}
			.nav-animation div div a span{
				display:block;
				color:#333;
			}
			.nav-animation div div a img{
				height:80px;
				width:80px;
			}
			.nav .nav-animation .meizu{
				margin-left:500px;
				opacity:0;
				height:0px;
				transition: all 0.3s;
			}
			.nav .nav-animation .meizu.active{
				margin-left:380px;
				opacity:1;
				height:100%;
			}
			.nav .nav-animation .meilan{
				margin-left:150px;
				opacity: 0;
				height:0px;
				transition: all 0.3s;
			}
			.nav .nav-animation .meilan.active{
				margin-left:30px;
				opacity: 1;
				height:100%;
			}
			.nav .nav-animation .shengxue{
				margin-left:680px;
				opacity: 0;
				transition: all 0.3s;
				height:0px;
			}
			.nav .nav-animation .shengxue.active{
				margin-left:540px;
				opacity: 1;	
				height:100%;
			}
			.nav .nav-animation .peijian{
				margin-left:300px;
				opacity: 0;
				transition: all 0.3s;
				height:0px;
			}
			.nav .nav-animation .peijian.active{
				margin-left:150px;
				opacity: 1;
				height:100%;
			}
			.nav .icon{
				margin-top:25px;
				float:left;
				margin-left:10px;
			}
			.nav .icon span{
				margin-right:40px;
			}
			.denglu{
				width:98px;
				height:147px;
				position:absolute;
				right:140px;
				top:60px;
				background:white;
				border:1px solid black;
				z-index:3;
				display:block;
			}
			.xiaoshi{
				width:98px;
				height:147px;
				position:absolute;
				right:90px;
				top:60px;
				background:white;
				border:1px solid black;
				display:none;
			}
			.denglu ul li{
				width:100px;
				height:35px;
				line-height:35px;
				text-align:center;
			}
			.denglu ul li a{
				color:#515151;
			}
			.denglu ul li a:hover{
				color:blue;
			}
			.lunbotu{
				width:1420px;
				overflow: hidden;
			}
			.lunbotu .swiper-container{
				width:1920px;
				margin-left:-250px;
			}
			/*brick-wrapper*/
			.brick-wrapper{
				width:1280px;
				height:300px;
				margin:0px auto;
				margin-top:76px;
			}
			.brick-wrapper div{
				float:left;
				width:170px;
				height:300px;
				margin-right:185px;
			}
			.brick-wrapper div:last-child{
				margin-right:0px;
			}
			.brick-wrapper div a{
				display:block;
				width:170px;
				height:300px;
				color:#333;
				text-align:center;
			}
			.brick-wrapper div a img{
				height:160px;
				width:160px;
			}
			.brick-wrapper div a span{
				font-size:12px;
				color:#999;
				
			}
			.brick-wrapper div a h4{
				margin-top:15px;
				margin-bottom:10px;
			}
			/*accessory*/
			
			
			.accessory{
				height:382px;
				width:1420px;
				background:#f4f4f4;
				margin:0 auto;
				position: relative;
			}
			.accessory .accessory-left{
				width:50%;
				height:382px;
				float:left;
			}
			.accessory .accessory-left a{
				display:block;
				position: absolute;
				left:100px;
				bottom:0px;
			}
			.accessory .accessory-left a img{
				display:block;
				width:620px;
			}
			.accessory .accessory-right{
				width:680px;
				height:100%;
				float:left;
			}
			.accessory .accessory-right ul{
				padding-top:90px;
			}
			.accessory .accessory-right ul li{
				float:left;
				width:25%;
				height:135px;
				text-align:center;
			}
			.accessory .accessory-right ul li a{
				display:block;
				height:81px;
				width:80px;
				margin:0px auto;
			}
			.accessory .accessory-right ul li img{
				display:block;
				height:50px;
				width:50px;
				margin:0px auto;
			}
			.accessory .accessory-right ul li a span{
				display:block;
				color:#515151;
			}
			/*static-phone*/
			.static-phone{
				width:1420px;
				height:637px;
				margin: 0 auto;
				margin-left:50px;
				margin-top:104px;
			}
			.static-phone ul{
				width:100%;
				height:100%;
			}
			.static-phone ul li{
				width:25%;
				height:533px;
				float:left;
			}
			.static-phone ul li a{
				width:234px;
				height:533px;
				margin-right:100px;
				display:block;
			}
			.static-phone ul li a .big-img{
				width:208px;
				height:435px;
				margin 0 auto;
				position: relative;
			}
			.static-phone ul li a .big-img .before{
				position:absolute;
				bottom:0px;
				left:0px;
				transition: all 1s;
			}
			.static-phone ul li a .big-img .after{
				position:absolute;
				bottom:0px;
				left:4px;
				transition: all 1s;
			}
			.static-phone ul li a:hover .after{
				position:absolute;
				bottom:0px;
				left:-40px;
				transition: all 1s;
			}
			.static-phone ul li a:hover .before{
				position:absolute;
				bottom:0px;
				left:40px;
				transition: all 1s;
			}
			.static-phone ul li a .phonetext{
				color:#333;
				text-align:center;
				box-sizing: border-box;
				padding-right:30px;
				margin-top:40px;
			}
			.static-phone ul li a .phonetext div{
				margin-bottom:4px;
			}
			.static-phone ul li a .phonetext div:nth-child(1){
				color:#666;
				font-size:14px;
			}
			.static-phone ul li a .phonetext div:nth-child(2){
				color:#666;
				font-size:14px;
			}
			.static-phone ul li a .phonetext div:nth-child(3){
				padding-top:2px;
				color:#f0415f;
				font-size:14px;
				font-weight:400;
			}
			.find-phone{
				width:1420px;
				height:430px;
			}
			.find-phone .swiper-container{
				width:100%;
				height:430px;
				margin-left:10px;
			}
			.find-phone .swiper-container .swiper-button-next{
				top:35%;
				right:85px;
			}
			.find-phone .swiper-container .swiper-button-prev{
				top:35%;
				left:85px;
			}
			.find-phone .swiper-container .swiper-slide{
				height:338px;
				width:100%;
			}
			.find-phone .swiper-container .swiper-slide>div{
				height:338px;
				width:25%;
				float:left;
			}
			.find-phone .swiper-container .swiper-slide>div a{
				height:100%;
				width:100%;
				display:block;
				text-align:center;
			}
			.find-phone .swiper-container .swiper-slide>div a img{
				width:280px;
				height:280px;
			}
			.find-phone .swiper-container .swiper-slide>div a .content{
				font-size:14px;
				color:#333;
				text-align:center;
				padding-left:40px;
				margin-top:-10px;
			}
			.find-phone .swiper-container .swiper-slide>div a .content div{
				margin-bottom:6px;
			}
			.find-phone .swiper-container .swiper-slide>div a .content div:last-child{
				color:#f0415f;
			}
			/*static-accessory*/
			.static-accessory{
				width:1423px;
				height:auto;
				border-top: 1px solid gainsboro;
				margin-top:40px;
			}
			.static-accessory ul{
				width:1240px;
				height:1176px;
				margin: 0 auto;
				margin-top:100px;
			}
			.static-accessory ul li{
				width:25%;
				height:312px;
				float:left;
				margin-bottom:100px;
			}
			.static-accessory ul li a{
				width:100%;
				height:100%;
				display:block;
			}
			.static-accessory ul li a:hover .img .after{
				opacity:1;
			}
			.static-accessory ul li a:hover .img .before{
				opacity:0;
			}
			.static-accessory ul li a .img{
				height:237.7px;
				width:208px;
			}
			.static-accessory ul li a .img img{
				height:208px;
				width:208px;
				position:absolute;
				transition: all .3s;
			}
			.static-accessory ul li a .img .before{
				width:208px;
				height:208px;
			}
			.static-accessory ul li a .img .after{
				opacity: 0;
				width:208px;
				height:237.7px;
			}
			.static-accessory ul li a .content{
				color:#666;
				width:208px;
				font-size:14px;
				text-align: center;
				margin-top:4px;
			}
			.static-accessory ul li a .content div:nth-child(3){
				color:#f0415f;
			}
			.static-accessory ul li a .content div{
				margin-bottom:4px;
			}
			/*service-center*/
			.service-center{
				width:1420px;
				height:280px;
			}
			.service-center div{
				height:100%;
				width:33.33%;
				float:left;
				box-sizing: border-box;
				margin:0 auto;
				overflow: hidden;
			}
			.service-center div a{
				height:100%;
				width:100%;
				display:block;
				position:relative;
			}
			.service-center div a img{
				position:absolute;
				left:-20%;
			}
			.service{
				padding-top:130px;
				width:1423px;
				height:87px;
				margin-bottom:100px;
			}
			.service ul{
				width:90%;
				height:87px;
				margin:0 auto;
				padding-left:50px;
			}
			.service ul li{
				height:87px;
				width:14.28%;
				float:left;
			}
			.service ul li a{
				height:100%;
				width:100%;
				display:block;
			}
			.service ul li a img{
				height:60px;
				width:60px;
			}
			.service ul li a div{
				font-size:14px;
				color:#333;
			}
			.top-nav{
				width:100%;
				height:70px;
				background:#fff;
				position:fixed;
				top:0px;
				left:0px;
				z-index:999;
				overflow: hidden;
				height:0px;
				transition:all .3s;
			}
			.top-nav.active{
				height:70px;
			}
			.top-nav .nav-container{
				width:90%;
				height:100%;
				margin:0 auto;
			}
			.top-nav .nav-container ul{
				height:100%;
				width:100%;
			}
			.top-nav .nav-container ul li{
				float:left;
				line-height:70px;
				margin-right:46px;
				position:relative;
			}
			.top-nav .nav-container ul li a{
				color:#333;
			}
			.top-nav .nav-container ul li i{
				background:blue;
				height:2px;
				width:100%;
				position:absolute;
				top:45px;
				left:0px;
				opacity: 0;
				transition: all .5s;
			}
			.top-nav .nav-container ul li a:hover{
				color:#007AFF;
			}
			.top-nav .nav-container ul li a:hover+i{
				opacity: 1;
			}
			/*右边导航条*/
			.right-nav{
				width:125px;
				height:150px;
				position:fixed;
				right:0px;
				bottom:105px;
				z-index:99;
				transition: all .3s;
			}
			/*.right-nav.active{
				right:-97px;
			}*/
			.right-nav ul {
				width:100%;
				height:100%;
			}
			.right-nav ul li{
				width:100%;
				height:50px;
				line-height:50px;
				background:#d8d8d8;
				position:relative;
				right:-125px;
				margin-bottom:2px;
				transition: all 1s;
				padding-left:5px;
			}
			.right-nav ul li.active{
				right:-95px;
			}
			.right-nav ul li a{
				width:100%;
				height:100%;
				display:block;
			}
			.right-nav ul li:first-child:hover{
				right:0px;
				transition: all 1s;
			}
			.right-nav ul li:last-child:hover{
				right:0px;
				transition: all 1s;
			}
			.bbs-center{
				width:100%;
				height:578px;
				background:url('../picture/1497250591661.jpg')
			}
			.bbs-center .bbs-title{
				padding-top:75px;
				text-align: center;
			}
			.bbs-center .bbs-title p{
				color:#999;
				font-size:16px;
				padding-top:6px;
			}
			.bbs-center .bbs-title p a{
				color:#00b9f2;
			}
			.bbs-center .bbs-swiper{
				width:1240px;
				height:310px;
				margin:0 auto;
			}
			.bbs-center .bbs-swiper>div{
				height:310px;
				width:310px;
				float:left;
				margin-top:50px;
			}
			.bbs-center .bbs-swiper div a{
				height:100%;
				width:100%;
				display:block;
				position:relative;
			}
			.bbs-center .bbs-swiper div a img{
				height:310px;
				width:290px;
				/*position:relative;*/
			}
			.bbs-center .bbs-swiper div a .userinfo{
				width:290px;
				height:100px;
				position:absolute;
				left:0px;
				bottom:0px;
			}
			.bbs-center .bbs-swiper div a .userinfo div{
				padding-left:75px;
				font-size:14px;
			}
			.bbs-center .bbs-swiper div a .userinfo div img{
				position:absolute;
				left:20px;
				height:38px;
				width:38px;
				border-radius: 50%;
			}
			.bbs-center .bbs-swiper div a .userinfo div .watch{
				padding-left:18px;
				background:url('../images/watch.png') no-repeat;
				background-position: left;
				font-size:12px;
			}
			.bbs-center .bbs-swiper div a .userinfo div .common{
				padding-left:18px;
				background:url('../images/common.png') no-repeat;
				background-position: left;
				font-size:12px;
			}
			.bbs-center .bbs-swiper div a .userinfo>p{
				padding-left:18px;
				margin-top:10px;
			}
			.footer{
				width:100%;
				height:296px;
			}
			.footer .footer-container{
				width:1240px;
				height:215px;
				margin:0 auto;
				margin-top:50px;
			}
			.footer .footer-container .footer-wrap{
				width:100%;
				height:116px;
			}
			.footer .footer-container .footer-wrap ul{
				width:1000px;
				height:116px;
				float:left;
			}
			.footer .footer-container .footer-wrap ul li{
				width:25%;
				height:58px;
				float:left;
				line-height:58px;
				position:relative;
			}
			.footer .footer-container .footer-wrap ul li a{
				padding-left:35px;
				color:#999;
				font-size:12px;
			}
			.footer .footer-container .footer-wrap ul li img{
				position:absolute;
				left:0px;
				top:15px;
			}
			.footer .footer-container .footer-wrap .footer-service{
				height:99px;
				width:136px;
				float:right;
				text-align:right;
			}
			.footer .footer-container .footer-wrap .footer-service>span{
				font-size:12px;
				color:#999;
				margin-bottom:8px;
			}
			.footer .footer-container .footer-wrap .footer-service>p{
				font-size:20px;
				color:#00c3f5;
				font-weight:400;
				margin-bottom:8px;
			}
			.footer .footer-container .footer-wrap .footer-service>a{
				width:100%;
				height:40px;
				display:block;
				line-height:40px;
				background:#00c3f5;
				position:relative;
			}
			.footer .footer-container .footer-wrap .footer-service>a img{
				position:absolute;
				top:9px;
				left:20px;
			}
			.footer .footer-container .footer-wrap .footer-service>a span{
				padding-right:20px;
			}
			.footer .footer-container .line{
				width:100%;
				background:#999;
				height:1px;
				margin-top:60px;
			}
			.footer .footer-container .footer-infowrap{
				width:1240px;
				height:53px;
				margin: 0 auto;
				margin-top:30px;
			}
			.footer .footer-container .footer-infowrap ul{
				height:18px;
			}
			.footer .footer-container .footer-infowrap ul li{
				height:18px;
				float:left;
				padding-right:18px;
				margin-right:18px;
				border-right:1px solid #d6d6d6;
			}
			.footer .footer-container .footer-infowrap ul li a{
				width:100%;
				height:100%;
				display:block;
				color:#999;
				font-size:12px;
			}
			.footer .footer-container .footer-infowrap ul li:last-child{
				border-right:0px;
				position:relative;
				padding-left:25px;
			}
			.footer .footer-container .footer-infowrap ul li span{
				display:block;
				height:18px;
				width:18px;
				background:url('../images/1232.png') no-repeat;
				background-size:cover;
				position:absolute;
				top:0px;
				left:0px;
			}
			.footer .footer-container .footer-infowrap .last{
				font-size:12px;
				color:#999;
			}
			.footer .footer-container .footer-infowrap .last a{
				font-size:12px;
				color:#999;
			}
			.footer .footer-container .footer-infowrap .last a:hover{
				color:#31a5e7;
			}
			.footer .footer-container .footer-infowrap .last i{
				display:inline-block;
				height:18px;
				width:18px;
				cursor:pointer;
			}
			.footer .footer-container .footer-infowrap .last .right i{
				margin-right:30px;
			}
			.footer .footer-container .footer-infowrap .last .right{
				float:right;
			}
			.footer .footer-container .footer-infowrap .last .yuegong{
				background:url('../images/gongan.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .dun{
				background:url('../images/1.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .dun:hover{
				background:url('../images/2.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .dian{
				background:url('../images/4.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .dian:hover{
				background:url('../images/3.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .xin{
				background:url('../images/6.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .xin:hover{
				background:url('../images/5.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .{
				background:url('../images/5.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .right .weibo{
				background:url('../images/weibo1.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .right .weibo:hover{
				background:url('../images/weibo2.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .right .weixin{
				background:url('../images/weixin1.png') no-repeat ;
				background-size:cover;
			}
			.footer .footer-container .footer-infowrap .last .right .weixin:hover{
				background:url('../images/weixin2.png') no-repeat ;
				background-size:cover;
			}
			.footer .footer-container .footer-infowrap .last .right .kongjian{
				background:url('../images/kongjian1.png') no-repeat ;
			}
			.footer .footer-container .footer-infowrap .last .right .kongjian:hover{
				background:url('../images/kongjian2.png') no-repeat ;
			}
			
